.container{
    position:relative;
    border: 5px dashed green;
}


.container img{
    height:300px;   
    width:400px;
}

.container span{
    position:absolute;
    top:50px;
    left:30px;
    border: 4px solid green;
    font-size: large;
    background-color: honeydew;
    padding: 2px;
}